<div>
  <h2>Welcome to Bumble.</h2>
  <h3>Shopping as entertainment.</h3>
  <form method="post" action="/login">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>