<div class="row" id="login-buffer">
  <h1>Welcome to Bumble.</h1>
  <h3>Shopping as entertainment.</h3>
  <form method="post" action="/signup">
    <ul class="login">
      <li><input class="form-control" type="text" name="user[name]" placeholder="Name"></li>
      <li><input class="form-control" type="email" name="user[email]" placeholder="Email"></li>
      <li><input class="form-control" type="password" name="user[password]" placeholder="Password"></li>
      <input class="btn btn-lg btn-default" type="submit" value="Sign up!">
  </ul>
  </form>
  <p>Already have an account? <a href="/login">Log in</a></p>
</div>