<div>
  <h1>Welcome to Bumble.</h1>
  <p>Shopping as entertainment.</p>
  <form method="post" action="/signup">
    <input type="text" name="user[name]" placeholder="Name">
    <input type="email" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Sign up!">
  </form>
  <p>Already have an account? <a href="/login">Log in</a></p>
</div>