.welcome {
  text-align: center;
  margin: 0;
  padding: 0;
  background: url("/imgs/bumblebackground.jpeg") fixed;
  background-size: cover;
  background-position: center;
  color: grey;
  font-family: helvetica;
}

