html {
  font-size: 20px;
}

html a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.fa-search, .btn {
  color: #6F96B9;
}

.btn:hover, .fa-search:hover {
  color: #9E1623;
}

.fa-heart {
  color: #ECC1C7;
}

.fa-heart:hover {
  color: #9E1623;
}

.navbar {
  /*background-color: #F6F4F0;*/
  color: #C0D8EB;
  position: fixed;
  z-index: 1000;
  border-bottom: 2px #9E1623 solid;
}

.top-search-bar {
  margin-top: 10px;
}

.nav > form {
  /*background-color: orange;*/
  margin: 0 auto;
}

.icon-bar {
  background-color: #9E1623;
}

button.navbar-toggle {
  border: 1px solid #9E1623;
  border-radius: 5px;
}

body {
  margin-top: 100px
}

body > .container > .row {
  margin-bottom: 30px;
}
/***********************************
CATEGORIES ERB
************************************/
.categories-text {
  padding-top: 15%;
  font-size:20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;s
}


.categories {
  height: 165px;
  background-color: #C0D8EB;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.categories:hover {
  background-color: #6F96B9;
}

/***********************************
CATEGORY ERB
************************************/
.all-videos-text {
  padding-top: 15%;
  font-size:20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;s
}


.all-videos {
  background-color: #C0D8EB;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.all-videos:hover {
  background-color: #6F96B9;
}


/***********************************
VIDEO ERB
************************************/

.video-name, .video-desc, .video-link {
  font-size:20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}


.video {
  background-color: #C0D8EB;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.video:hover {
  background-color: #6F96B9;
}
