html {
  font-size: 20px;
  background-image: url("/tswift-1989.png");
}

html a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

body {
  background-color: transparent;
}

.fa-search, .btn {
  color: #6F96B9;
}

.btn:hover, .fa-search:hover {
  color: #9E1623;
}

.navbar .fa-heart {
  color: #ECC1C7;
}

.navbar .fa-heart:hover {
  color: #9E1623;
}

.navbar {
  /*background-color: #F6F4F0;*/
  color: #C0D8EB;
  position: fixed;
  z-index: 1000;
  border-bottom: 2px #9E1623 solid;
}

.top-search-bar {
  margin-top: 4%;
}

.nav > form {
  /*background-color: orange;*/
  margin: 0 auto;
}

.icon-bar {
  background-color: #9E1623;
}

button.navbar-toggle {
  border: 1px solid #9E1623;
  /*border-radius: 5px;*/
}

.navbar-background {
  background-color: white;
}

body {
  margin-top: 10%;
}

body > .container > .row {
  margin-bottom: 30px;
}

/***********************************
SIGNIN SINGUP ERRORS
************************************/
.errors {
  background-color: #FBF6BE;
}
/***********************************
CATEGORIES ERB
************************************/
.categories-text {
  padding-top: 15%;
  font-size:20px;
  font-weight: 700;
  text-transform: uppercase;
}


.categories {
  height: 165px;
  color: #9E1623;
  background-color: #CDCAEA;
  padding-top: 20px;
  margin-top: 20px;
  /*border-radius: 10px;*/
  border: 2px solid #9E1623;
  opacity: 0.5;
}

.categories:hover {
  color: white;
  background-color: #6F96B9;
  border: 2px solid #ECC1C7;
}

/***********************************
CATEGORY ERB
************************************/
.all-videos-text {
  text-transform: uppercase;
  color: white;
}


.all-videos {
  background-color: #C0D8EB;
  margin-top: 10%;
  border-radius: 10px;
}

.all-videos:hover {
  background-color: #6F96B9;
}


/***********************************
VIDEO ERB
************************************/

/*.video-name, .video-desc, .video-link {
  font-size:20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}


.video {
  background-color: #C0D8EB;
  padding-top: 20px;
  margin-top: 20px;
  /*border-radius: 10px;
}

.video:hover {
  background-color: #6F96B9;
}*/

.video-info-box {
  margin-left: 0.5%;
}

.fa-heart {
  color: #9E1623;
}

.fa-heart:hover {
  color: #84121D;
}