<div>
  <h2>Wishlist:</h2>
  <% @current_user.actions.each do |action| %>
    <% if action.liked == true %>
      <p><%= "#{Product.find(action.product_id).name}" %></p>
        <img class="wishlist-image" src=<%= "/imgs/#{Product.find(action.product_id).image}" %>>
    <% end %>
  <% end %>
</div>