<div class="row">
  <!-- <div class="col-md-1"></div> -->

  <% @videos.each do |video| %>
    <div class="col-md-3">
      <a href="/video/<%= video.id %>">
        <div class="all-videos text-center">
          <div class="all-videos-text">
            <img src="<%= video.image_url %>" class="img-rounded img-responsive">
            <%= video.title %>
          </div>
       </div>
      </a>
    </div>
  <% end %>
</div>