<div class="row">
  <div class="col-md-1"></div>

  <% @videos.each do |video| %>
    <div class="col-md-3">
      <a href="/video/<%= video.id %>">
        <div class="category text-center">
          <div class="category-text"><%= video.name %></div>
       </div>
      </a>
    </div>
  <% end %>
</div>