<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Bumble.</title>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead">
          <div class="inner">
            <h3 class="masthead-brand">Bumble.</h3>
            <ul class="masthead-nav">
              <% if session[:user_id] %>
                <li>
                  <a href="#">Products</a>
                </li>
                <li>
                  <a href=<%= "/wishlist/#{session[:user_id]}" %>>Wishlist</a>
                </li>
                <li>
                  <a href=<%= "/logout" %>>Logout</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="inner cover">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
