<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-5">
    <a href="/video/<%= @video.id %>">
      <div class="video text-center">
        <div class="video-name"><%= @video.name %></div>
        <div class="video-desc"><%= @video.description %></div>
        <div class="video-link"><%= @video.link %></div>
     </div>
    </a>
  </div>
</div>